@media screen and (max-width: 1207px) {
    .hero {
        background-position: right -6% bottom;
    padding: 0 20px;
    }
}


@media screen and (max-width: 1024px) {
    .hero {
        background-position: right -40% bottom;
        
    }
    header {
        padding: 10px 20px;
    }

    .img_none {
        width: 1000px;
    }

    .fit_together {
        padding: 80px 20px;
    }
}

@media screen and (max-width: 830px) {
    .hero {
        background-image: none;
    }

    .wrapper_human {
        flex-direction: column;
    }

    .put_the_human {
        padding: 70px 0;
        
    }

    
    .human_name {
        font-size: 40px;
        margin-bottom: 8px;
    }

    .human_text {
        font-size: 18px;
        margin-bottom: 50px;
    }
   
    .wrapper_help {
        flex-direction: column;
    }
    .help_name {
        font-size: 40px;
        margin-bottom: 8px;
    }

    .help_text {
        font-size: 18px;
    }

    .order_one {
        order: 2;
    }

    .order_two {
        order: 1;
    }

    .links_partners {
        justify-content: space-around;
        flex-flow: row wrap;
        gap: 10px 25px;
    align-items: center;
    }

.production_name {
    font-size: 35px;
}

    .container_partners {
        flex-wrap: wrap;
        gap: 10px 20px;
        padding: 0 20px;
    }
    

    .employees_name {
        font-size: 35px;
    }

    .img_none {
        width: 800px;
    }

    

.wrapper_fit_together {
    flex-direction: column;
}

.fit_together_name {
    font-size: 40px;
    margin-bottom: 8px;
}

.p_update {
    padding: 0 20px;
}
.container_articles_consider {
    flex-direction: column;
}

.easy {
    padding: 80px 20px;
}

.wrapper_experience {
    flex-direction: column;
}

.exp_flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.experience_name {
    font-size: 35px;
}

    
}

@media screen and (max-width: 768px) {
    .hero {
        background-image: none;
    }
    header nav ul {
        display: block;
        }
        .first_mob {
            margin-bottom: 30px;
        }
        .container {
            align-items: none;
        }

        header nav {
            display: flex;
            padding: 10px 0;
            justify-content: flex-end;
        }

        .p_tab {
            padding: 0 20px;
        }

        .container_partners {
            flex-direction: column;
        }

        .img_none {
            display: none;
        }

        .list_easy {
            max-width: 300px;
            flex-direction: column;
        }

        .let_start {
           
        }

        .mobil {
            width: 340px;  
        }
}

@media screen and (max-width: 430px) {
    .hero {
        background-image: none;
    }

    .mobile_img {
        width: 335px;
    }

    .put_the_human {
        padding: 0 20px;
    }

    .help {
        padding: 0 20px;
    }

    .experience_name {
        padding: 0 20px;
    }

    /* .let_start {
        background-image: none;
    } */

   
}

@media screen and (max-width: 320px) {
    .hero {
        background-image: none;
    }
}





