/* @font-face {
  font-family: "Recoleta";
  src: url("../fonts/Recoleta-SemiBold.eot");
  src: local("Recoleta SemiBold"), local("Recoleta-SemiBold"),
    url("../fonts/Recoleta-SemiBold.eot") format("embedded-opentype"),
    url("../fonts/Recoleta-SemiBold.woff2") format("woff2"),
    url("../fonts/Recoleta-SemiBold.woff") format("woff"),
    url("../fonts/Recoleta-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
} */

@font-face {
  font-family: "Recoleta";
  src: local("Recoleta Regular"), local("Recoleta-Regular"),
    url("../fonts/Recoleta-Regular.woff2") format("woff2"),
    url("../fonts/Recoleta-Regular.woff") format("woff"),
    url("../fonts/Recoleta-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
}

header {
  background-color: #163a24;
  padding: 20px 0;
}
.container {
  max-width: 1180px;
  margin: 0;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav ul {
  display: flex;
  justify-content: end;
  list-style: none;
  align-items: center;
}

header li {
  margin-left: 24px;
}
header nav li a {
  text-decoration: none;
  color: #fbfaf7;

  text-align: right;
  font-family: "Recoleta";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.button_getStart {
  border-radius: 160px;
  background: #198c36;
  padding: 15px 25px;

  color: #fbfaf7;

  max-width: 141px;
  height: 52px;
  text-align: center;
  font-family: "Recoleta";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.hero {
  background: #163a24;
  background-image: url(../images/Frame.png);
  background-repeat: no-repeat;
  background-position: right 32% bottom;
  /* background-size: contain; */
  /* max-width: 1180px;
  margin: auto; */
}

.hero_container {
  padding-top: 120px;
  padding-bottom: 40px;
  max-width: 1180px;
  margin: auto;
}

.hero_article {
  max-width: 440px;
}

.hero_name {
  margin-bottom: 18px;

  /* max-width: 390px; */
  color: #fbfaf7;

  font-family: "Recoleta";
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 65.25px;
}

.hero_par {
  /* max-width: 405px; */
  display: block;

  color: #fbfaf7;

  font-family: "Recoleta";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
}



.partners {
  max-width: 984px;
  padding: 114px 0 0 0;
  margin: auto;
}

.partners_name {
  margin-bottom: 66px;
  color: #163A24;

text-align: center;
font-family: "Recoleta";
font-size: 48px;
font-style: normal;
font-weight: 600;
line-height: 54px;
}

.logo_partner {
  display: inline;
  margin-right: 86px;
}








